{{>header}}

<div id="info">
    <p>
        This app retrieves weather information with the help of both mapbox.com and darksky.net!
    </p>
</div>

<img class="portrait" src="/img/me.JPG" />

{{>footer}}