<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d44d58da40.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-content">
        <header>
            <h1>{{title}}</h1>
            <a href="/"><i class="fas fa-cloud-sun"></i> Weather</a>
            <a href="/about"><i class="fas fa-info-circle"></i> About</a>
            <a href="/help"><i class="fas fa-question-circle"></i> Help</a>
        </header>