body {
	color: #333333;
	font-family: 'Lato';
	max-width: 650px;
	margin: 0 auto;
	padding: 0 16px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	margin-top: 16px;
	margin-bottom: 48px;
}

footer {
	color: #888888;
	border-top: 1px solid #eeeeee;
	margin-top: 16px;
	padding: 16px 0;
}

input {
	border: 1px solid #cccccc;
	padding: 8px;
}

button {
	cursor: pointer;
	border: 1px solid #888888;
	background: #2ecc71;
	color: white;
	padding: 8px;
	transform: perspective(1px) translateZ(0);
	transition-property: color;
	transition-duration: 1s;
}

button:hover {
	box-shadow: 0 0 5px #27ae60;
	color: black;
	transition: all 0.3s ease-out;
}

button::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #888888;
	transform: scale(1);
	transition-property: transform;
	transition: 0.3s ease-out;
}

button:hover::before {
	transform: scale(0);
}

header h1 {
	font-size: 64px;
	margin-bottom: 16px;
}

header a {
	color: #888888;
	margin-right: 16px;
	text-decoration: none;
}

.portrait {
	width: 300px;
}

.main-content {
	flex-grow: 1;
}

#location {
	font-style: italic;
	font-weight: bold;
}

#forecast {
	font-style: italic;
}

#info {
	max-width: 300px;
}
